@import "bootstrap-5.3.8/mixins/banner";
@include bsBanner("");


// scss-docs-start import-stack
// Configuration
@import "bootstrap-5.3.8/functions";
@import "bootstrap-5.3.8/variables";
@import "bootstrap-5.3.8/variables-dark";
@import "bootstrap-5.3.8/maps";
@import "bootstrap-5.3.8/mixins";
@import "bootstrap-5.3.8/utilities";

// Layout & components
@import "bootstrap-5.3.8/root";
@import "bootstrap-5.3.8/reboot";
@import "bootstrap-5.3.8/type";
@import "bootstrap-5.3.8/images";
@import "bootstrap-5.3.8/containers";
@import "bootstrap-5.3.8/grid";
@import "bootstrap-5.3.8/tables";
@import "bootstrap-5.3.8/forms";
@import "bootstrap-5.3.8/buttons";
@import "bootstrap-5.3.8/transitions";
@import "bootstrap-5.3.8/dropdown";
@import "bootstrap-5.3.8/button-group";
@import "bootstrap-5.3.8/nav";
@import "bootstrap-5.3.8/navbar";
@import "bootstrap-5.3.8/card";
@import "bootstrap-5.3.8/accordion";
@import "bootstrap-5.3.8/breadcrumb";
@import "bootstrap-5.3.8/pagination";
@import "bootstrap-5.3.8/badge";
@import "bootstrap-5.3.8/alert";
@import "bootstrap-5.3.8/progress";
@import "bootstrap-5.3.8/list-group";
@import "bootstrap-5.3.8/close";
@import "bootstrap-5.3.8/toasts";
@import "bootstrap-5.3.8/modal";
@import "bootstrap-5.3.8/tooltip";
@import "bootstrap-5.3.8/popover";
@import "bootstrap-5.3.8/carousel";
@import "bootstrap-5.3.8/spinners";
@import "bootstrap-5.3.8/offcanvas";
@import "bootstrap-5.3.8/placeholders";

// Helpers
@import "bootstrap-5.3.8/helpers";

// Custom definitions
@import "customs";

// Utilities
@import "bootstrap-5.3.8/utilities/api";
// scss-docs-end import-stack
