body.default-homepage span.app-name {
	font-weight: bold;
	color: inherit;
}

#hello-world {
	padding: 2em 5%;
}
#hello-world a {
	margin: .25em;
}
#hello-world a.code-link {
	padding-left: 2em;
	padding-right: 2em;
	border-radius: 1.5em;
	font-size: 112.5%;
}
#hello-world a.welcome-link {
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}

#welcome {
	padding: 2em 10%;
}
#welcome > div.container {
	padding: 3rem 8rem;
	border-radius: 28px;
	background: url("/theme/images/demo-welcome.jpg") center center no-repeat;
	background-size: auto;
	background-size: cover;
	text-align: center;
	color: #fff;
}
#welcome > div.container > h2 {
	color: #fff;
}
#welcome > div.container > h3 {
	color: #ccc;
}

#pagetop {
	padding: 2em 5%;
}
#pagetop .pagetop-col-text {
	padding-top: 2em;
	padding-left: 5%;
}

#promo {
	padding: 4em 5% 2em;
}
#promo .promo-col-text {
	padding-top: 2em;
	padding-left: 5%;
}

#reporting {
	padding: 4em 5%;
}
#reporting .reporting-col-text {
	text-align: center;
}

/* Responsiveness */
@media (min-width: 993px) {
	#reporting .reporting-col-text {
		padding-right: 3em;
		text-align: right;
	}
}
@media (max-width: 992px) {
	[class$="-col-text"] {
		text-align: center;
	}
	#hello-world .hello-col-image {
		padding-top: 5%;
	}
	#welcome > div.container {
		padding: 3rem 1rem;
	}
}
