# Ignora directorios de compilación
**/target

# Ignora directorios de archivos estáticos
**/static

# Archivos de log
**/log/*.log*

# Archivos de configuración locales
**/local.*.toml
**/local.toml
.env
.vscode
