[package]
name = "pagetop"
version = "0.0.5"
edition = "2021"

description = """\
    Un entorno de desarrollo para crear soluciones web modulares, extensibles y configurables.\
"""
categories = ["web-programming", "gui", "development-tools", "asynchronous"]
keywords = ["pagetop", "web", "framework", "frontend", "ssr"]

repository.workspace = true
homepage.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
colored = "3.0.0"
config = { version = "0.15.11", default-features = false, features = ["toml"] }
figlet-rs = "0.1.5"
itoa = "1.0.15"
serde.workspace = true
substring = "1.4.5"
terminal_size = "0.4.2"

tracing = "0.1.41"
tracing-appender = "0.2.3"
tracing-subscriber = { version = "0.3.19", features = ["json", "env-filter"] }
tracing-actix-web = "0.7.18"

fluent-templates = "0.13.0"
unic-langid = { version = "0.9.6", features = ["macros"] }

actix-web = "4.11.0"

pagetop-macros.workspace = true



[workspace]
resolver = "2"
members = [
    "helpers/pagetop-macros",
]

[workspace.package]
repository = "https://git.cillero.es/manuelcillero/pagetop"
homepage = "https://pagetop.cillero.es"
license = "MIT OR Apache-2.0"
authors = ["Manuel Cillero <manuel@cillero.es>"]

[workspace.dependencies]
serde = { version = "1.0", features = ["derive"] }

# Helpers
pagetop-macros = { version = "0.0", path = "helpers/pagetop-macros" }
