[package]
name = "pagetop"
version = "0.0.9"
edition = "2021"

description = """\
    Un entorno de desarrollo para crear soluciones web modulares, extensibles y configurables.\
"""
categories = ["web-programming", "gui", "development-tools", "asynchronous"]
keywords = ["pagetop", "web", "framework", "frontend", "ssr"]

repository.workspace = true
homepage.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
chrono = "0.4.41"
colored = "3.0.0"
config = { version = "0.15.13", default-features = false, features = ["toml"] }
figlet-rs = "0.1.5"
itoa = "1.0.15"
paste = { package = "pastey", version = "0.1.0" }
substring = "1.4.5"
terminal_size = "0.4.2"

tracing = "0.1.41"
tracing-appender = "0.2.3"
tracing-subscriber = { version = "0.3.19", features = ["json", "env-filter"] }
tracing-actix-web = "0.7.18"

fluent-templates = "0.13.0"
unic-langid = { version = "0.9.6", features = ["macros"] }

actix-web = "4.11.0"
actix-web-files = { package = "actix-files", version = "0.6.6" }
actix-web-static-files = "4.0.1"
static-files.workspace = true

serde = { version = "1.0", features = ["derive"] }

pagetop-macros = { version = "0.0", path = "helpers/pagetop-macros" }

[features]
default = []
testing = []

[dev-dependencies]
tempfile = "3.20.0"



[workspace]
resolver = "2"
members = [
    "helpers/pagetop-build",
    "helpers/pagetop-macros",
]

[workspace.package]
repository = "https://git.cillero.es/manuelcillero/pagetop"
homepage = "https://pagetop.cillero.es"
license = "MIT OR Apache-2.0"
authors = ["Manuel Cillero <manuel@cillero.es>"]

[workspace.dependencies]
static-files = "0.2.5"
