body.default-homepage span.app-name {
	font-weight: bold;
	color: inherit;
}

#hello-world,
#welcome,
#pagetop,
#promo,
#reporting {
	padding: 2rem 5%;
}

body.default-homepage [class$="-col-text"] {
	padding: 0 5%;
	text-align: center;
}
body.default-homepage [class$="-col-image"] {
	padding: 1rem 5%;
}

#hello-world a {
	margin: .25rem;
}
#hello-world a.code-link {
	padding-left: 2rem;
	padding-right: 2rem;
	border-radius: 1.5rem;
	font-size: 1.125rem;
}
#hello-world a.welcome-link {
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
}
#hello-world .hello-col-image {
	padding-top: 3em;
}

#welcome > div.container {
	padding: 2rem 1rem;
	border-radius: 28px;
	background: url("/homedemo/images/welcome.jpg") center center no-repeat;
	background-size: auto;
	background-size: cover;
	color: #fff;
}
#welcome > div.container > h2 {
	color: #fff;
}
#welcome > div.container > h3 {
	color: #ccc;
}

#reporting .reporting-col-image img {
	border-radius: 40px;
}

/* BREAKPOINTS */

/* MD - Applies <= 768px */
@media screen and (min-width: 48em) {
	body.default-homepage [class$="-col-image"] {
		padding-top: 5%;
	}

	#reporting .reporting-col-text {
		padding-left: 1rem;
		text-align: left;
	}
}
/* LG - Applies >= 1024px */
@media screen and (min-width: 64em) {
	#hello-world .hello-col-text {
		padding-top: 2rem;
		padding-left: 10%;
		text-align: left;
	}

	#welcome {
		padding-left: 10%;
		padding-right: 10%;
	}
	#welcome > div.container {
		padding: 2rem 8rem;
	}

	#promo .promo-col-text {
		padding-top: 1rem;
		padding-right: 0;
		text-align: right;
	}
}
/* XL - Applies >= 1280px */
@media screen and (min-width: 80em) {
	body.default-homepage [class$="-col-image"] {
		padding-top: 1rem;
	}

	#hello-world .hello-col-text {
		padding-top: 4rem;
	}

	#pagetop .pagetop-col-text {
		padding-top: 3rem;
		padding-left: 3rem;
		text-align: left;
	}
}
