[package]
name = "app"
version = "0.1.0"
edition = "2021"

# Ver m치s claves y sus definiciones en
# https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
pagetop = { path = "../pagetop" }
# Opcional. S칩lo si se usa la macro html!:
maud = { version = "0.23.0" }
# Opcional. S칩lo si se usa base de datos:
sea-orm = { version = "0.6.0" }
# Opcional. Para la serializaci칩n de estructuras de datos:
serde = { version = "1.0", features = ["derive"] }
