.megamenu:after {
	clear: both;
	content: "\00a0";
	display: block;
	height: 0;
	font: 0px/0 serif;
	overflow: hidden;
}/*
@media (min-width: 768px) {
	.megamenu {
		position: relative;
	}
}*/

.megamenu-menu {
	clear: both;
}/*
@media (min-width: 768px) {
	.megamenu-menu {
		position: absolute;
		right: 10px;
		bottom: 0;
	}
}*/

/* Mobile menu toggle button */

.megamenu-btn {
	float: right;
	margin: 6px 10px;
	position: relative;
	display: inline-block;
	width: 29px;
	height: 29px;
	text-indent: 29px;
	white-space: nowrap;
	overflow: hidden;
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (min-width: 768px) {
	/* Hide the button in desktop view */
	.megamenu-btn {
		position: absolute;
		top: -99999px;
	}
}

/* Hamburger icon */

.megamenu-btn-icon,
.megamenu-btn-icon:before,
.megamenu-btn-icon:after {
	position: absolute;
	top: 50%;
	left: 2px;
	height: 2px;
	width: 24px;
	background: #555;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.megamenu-btn-icon:before {
	content: '';
	top: -7px;
	left: 0;
}
.megamenu-btn-icon:after {
	content: '';
	top: 7px;
	left: 0;
}

/* X icon */

.megamenu-state:checked ~ .megamenu-btn .megamenu-btn-icon {
	height: 0;
	background: transparent;
}
.megamenu-state:checked ~ .megamenu-btn .megamenu-btn-icon:before {
	top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.megamenu-state:checked ~ .megamenu-btn .megamenu-btn-icon:after {
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

/* Hide menu state checkbox (keep it visible to screen readers) */

.megamenu-state {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* Hide the menu in mobile view */

.megamenu-state:not(:checked) ~ .megamenu-menu {
	display: none;
}
.megamenu-state:checked ~ .megamenu-menu {
	display: block;
}
@media (min-width: 768px) {
	/* Always show the menu in desktop view */
	.megamenu-state:not(:checked) ~ .megamenu-menu {
		display: block;
	}
}

/* Core */

.sm{box-sizing:border-box;z-index:9999;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.sm,.sm ul,.sm li{display:block;list-style:none;margin:0;padding:0;line-height:normal;direction:ltr;text-align:left;}
.sm-rtl,.sm-rtl ul,.sm-rtl li{direction:rtl;text-align:right;}
.sm>li>h1,.sm>li>h2,.sm>li>h3,.sm>li>h4,.sm>li>h5,.sm>li>h6{margin:0;padding:0;}
.sm ul{display:none;}
.sm li,.sm a{position:relative;}
.sm a{display:block;}
.sm a.disabled{cursor:default;}
.sm::after{content:"";display:block;height:0;font:0px/0 serif;clear:both;overflow:hidden;}
.sm *,.sm *::before,.sm *::after{box-sizing:inherit;}