/* Flex components */
.flex {
	display: flex;
	flex-direction: column;
}
@media (min-width: 768px) {
	.flex {
		flex-direction: row;
	}
}
/* Grid components */
.row .row {
	margin: 0 -1.5em;
}
.col {
	padding: 0 1.5em;
}
.row:after {
	content: "";
	clear: both;
	display: table;
}
@media only screen {
	.col {
		float: left;
		width: 100%;
		box-sizing: border-box;
	}
}

/* SiteBranding component */ /*
#site-branding {
	float: left;
}
.site-branding-wrapper {
	position: relative;
}
.site-branding-logo {
	display: none;
}
.site-branding-text {
	display: inline-block;
	margin: 10px 0 0 10px;
}
.site-branding-slogan {
	display: none;
}
@media (min-width: 768px) {
	#site-branding {
		display: inline-block;
	}
	.site-branding-logo {
		display: inline-block;
		margin: 10px 0 0 10px;
	}
	.site-branding-text {
		position: absolute;
		width: max-content;
		bottom: 0;
	}
	.site-branding-slogan {
		display: block;
	}
}
*/
/* PoweredBy component */
#powered-by {
	text-align: center;
}
#powered-by .pagetop-logo img,
#powered-by .pagetop-logo svg {
	margin-left: .275em;
	height: 1.275em;
	vertical-align: middle;
}
