# release.toml

# Etiqueta por crate: `pagetop-macros-v0.2.0`
tag-prefix = "{{crate_name}}-v"

# Confirmaciones firmadas (no requeridas)
sign-commit = false
sign-tag = false

# Empuja etiquetas y commits
push = true

# Publica en crates.io (puedes desactivarlo para pruebas)
publish = true

# Actualiza todos los dependientes internos
update-dependencies = true

# Solo permite publicar estos crates (los que forman parte del workspace)
allow-branch = ["main"]
consolidate-commits = false
consolidate-pushes = true

# Mensaje personalizado para el commit de versi칩n
pre-release-commit-message = "游댔 Prepara publicaci칩n de {{crate_name}} {{version}}"

[workspace]
# Lista de crates que se pueden publicar dentro del workspace
# Puedes a침adir extensiones m치s adelante
allow-publish = [
    "pagetop",
    "pagetop-build",
    "pagetop-macros"
]

# Opcional: ordena la publicaci칩n de dependencias internas
publish-order = [
    "pagetop-build",
    "pagetop-macros",
    "pagetop"
]

pre-release-hook = [
    "./tools/changelog.sh", "{{crate_name}}", "{{version}}", "--stage"
]
