.brand {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--val-color--text);
    font-size: 1.75rem;
    font-weight: 600;
    text-decoration: none;
}
.brand .image {
    display: flex;
}
