:root {
    // Font families
    --val-font-sans: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif;
    --val-font-serif: Georgia,"Times New Roman",serif;
    --val-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --val-font-family: var(--val-font-sans);
    // Font size
    --val-fs--base: 1rem;
    // Font weight
    --val-fw--base: 400;
    // Line height
    --val-lh--base: 1.5;
    // Core Colors
    --val-color--primary: #0d6efd;
    --val-color--secondary: #6c757d;
    --val-color--success: #198754;
    --val-color--info: #0dcaf0;
    --val-color--warning: #ffc107;
    --val-color--danger: #dc3545;
    // Other Colors
    --val-color--bg: #fafafa;
    --val-color--bg--muted: #dee2e6;
    --val-color--text: #212529;
    --val-color--text--muted: color-mix(in srgb, var(--val-color--text) 50%, var(--val-color--bg));
    --val-color--switch-off: #adb5bd;
    --val-color--border: #212529;
}
