/* Image component */

.pt-img__fluid {
	max-width: 100%;
	height: auto;
}

/* Branding component */

.pt-branding__wrapper {
	display: flex;
	align-items: flex-end;
	column-gap: var(--pt-gap-0-75);
}
.pt-branding__name {
	letter-spacing: 0.02em;
    font-size: var(--pt-font-size-xl);
}
.pt-branding__slogan {
    font-size: var(--pt-font-size-l);
}

/* SM - Applies <= 568px */
@media (max-width: 35.5em) {
	.pt-branding__logo {
		display: none;
	}
}
/* LG - Applies <= 992px */
@media (max-width: 62em) {
	.pt-branding__slogan {
		font-size: var(--pt-font-size-l);
	}
}

/* PoweredBy component */

#pt-powered-by {
	text-align: center;
}
#pt-powered-by .pt-pagetop__logo img,
#pt-powered-by .pt-pagetop__logo svg {
	margin-left: .275em;
	height: 1.275em;
	vertical-align: middle;
}
