html {
    scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: var(--pt-font-family);
	font-size: var(--pt-fs--base);
	font-weight: var(--pt-fw--base);
	line-height: var(--pt-lh--base);
	color: var(--pt-color);
	background-color: var(--pt-color--bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: var(--pt-gap-0-9);
	font-weight: var(--pt-fw--bold);
	line-height: var(--pt-lh--header);
}
h1 {
	font-size: var(--pt-fs--x3l);
}
h2 {
	font-size: var(--pt-fs--x2l);
}
h3 {
	font-size: var(--pt-fs--xl);
}
h4 {
	font-size: var(--pt-fs--l);
}
h5 {
	font-size: var(--pt-fs--m);
}
h6 {
	font-size: var(--pt-fs--base);
}
/* LG - Applies <= 992px */
@media screen and (max-width: 62em) {
	h1 {
		font-size: calc(var(--pt-fs--l) + 1.25vw);
	}
	h2 {
		font-size: calc(var(--pt-fs--l) + 0.6vw);
	}
	h3 {
		font-size: calc(var(--pt-fs--m) + 0.6vw);
	}
	h4 {
		font-size: calc(var(--pt-fs--m) + 0.3vw);
	}
}

p {
	margin-top: 0;
	margin-bottom: var(--pt-gap-0-9);
}

/* LAYOUT */

#header__inner,
.pt-content__wrapper,
#footer__inner {
	width: 100%;
	max-width: var(--pt-max-width);
	margin: 0 auto;
}

#header {
	background: var(--pt-color--white);
}
.pt-content__wrapper {
	background: var(--pt-color--white);
}

#footer {
	background: linear-gradient(180deg, var(--pt-color--gray-5) 0%, var(--pt-color--gray-10) 100%);
}
#footer__inner {
	color: var(--pt-color--gray-65);
	background: var(--pt-color--gray-20);
	padding: var(--pt-gap-3) 0 var(--pt-gap-12);
}
#footer__inner a {
	color: var(--pt-color--white);
}
