body {
	margin: 0;
	font-family: var(--pt-font-family);
	font-size: var(--pt-font-size-base);
	font-weight: var(--pt-font-weight);
	line-height: var(--pt-line-height-base);
	color: var(--pt-color);
	background-color: var(--pt-color-bg);
	-webkit-text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
}

.pt-body__wrapper {
	max-width: var(--pt-max-width);
	margin: 0 auto;
}
