.button__tap {
	cursor: pointer;
	text-align: center;
	display: inline-block;
	color: var(--val-color--white);
	background-color: transparent;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: var(--val-border-radius);
	padding: var(--val-gap-0-35) var(--val-gap-0-75);
	transition: background-color .15s ease-in-out;
	white-space: nowrap;
	user-select: none;
}
.button__tap > span {
	margin: 0 var(--val-gap-0-5);
}

.button__tap.style__default {
	background-color: var(--val-color--default);
}
.button__tap.style__default:hover {
	color: var(--val-color--white);
	background-color: var(--val-color--default-dark);
}
.button__tap.style__default:active,
.button__tap.style__default:disabled {
	color: var(--val-color--white);
	background-color: var(--val-color--default-light);
}

.button__tap.style__success {
	background-color: var(--val-color--success);
}
.button__tap.style__success:hover {
	color: var(--val-color--white);
	background-color: var(--val-color--success-dark);
}
.button__tap.style__success:active,
.button__tap.style__success:disabled {
	color: var(--val-color--white);
	background-color: var(--val-color--success-light);
}

.button__tap.style__danger {
	background-color: var(--val-color--danger);
}
.button__tap.style__danger:hover {
	color: var(--val-color--white);
	background-color: var(--val-color--danger-dark);
}
.button__tap.style__danger:active,
.button__tap.style__danger:disabled {
	color: var(--val-color--white);
	background-color: var(--val-color--danger-light);
}

.button__tap.style__warning {
	background-color: var(--val-color--warning);
}
.button__tap.style__warning:hover {
	color: var(--val-color--white);
	background-color: var(--val-color--warning-dark);
}
.button__tap.style__warning:active,
.button__tap.style__warning:disabled {
	color: var(--val-color--white);
	background-color: var(--val-color--warning-light);
}

.button__tap.style__info {
	background-color: var(--val-color--info);
}
.button__tap.style__info:hover {
	color: var(--val-color--white);
	background-color: var(--val-color--info-dark);
}
.button__tap.style__info:active,
.button__tap.style__info:disabled {
	color: var(--val-color--white);
	background-color: var(--val-color--info-light);
}

.button__tap.style__light {
	color: var(--val-color--text);
	background-color: var(--val-color--light);
}
.button__tap.style__light:hover {
	color: var(--val-color--text);
	background-color: var(--val-color--light-dark);
}
.button__tap.style__light:active,
.button__tap.style__light:disabled {
	color: var(--val-color--text);
	background-color: var(--val-color--light-light);
}

.button__tap.style__dark {
	background-color: var(--val-color--dark);
}
.button__tap.style__dark:hover {
	color: var(--val-color--white);
	background-color: var(--val-color--dark-dark);
}
.button__tap.style__dark:active,
.button__tap.style__dark:disabled {
	color: var(--val-color--white);
	background-color: var(--val-color--dark-light);
}

.button__tap.style__link {
	color: var(--val-color--default);
}

/*
.button strong {
	color: inherit
}

.button .icon,.button .icon.is-large,.button .icon.is-medium,.button .icon.is-small {
	height: 1.5em;
	width: 1.5em
}

.button .icon:first-child:not(:last-child) {
	margin-left: calc(-.5em - 1px);
	margin-right: .25em
}

.button .icon:last-child:not(:first-child) {
	margin-left: .25em;
	margin-right: calc(-.5em - 1px)
}

.button .icon:first-child:last-child {
	margin-left: calc(-.5em - 1px);
	margin-right: calc(-.5em - 1px)
}

.button__tap.is-hovered,.button:hover {
	border-color: #b5b5b5;
	color: #363636
}

.button__tap.is-focused,.button:focus {
	border-color: #485fc7;
	color: #363636
}

.button__tap.is-focused:not(:active),.button:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(72,95,199,.25)
}

.button__tap.is-active,.button:active {
	border-color: #4a4a4a;
	color: #363636
}

.button__tap.is-text {
	background-color: transparent;
	border-color: transparent;
	color: #4a4a4a;
	text-decoration: underline
}

.button__tap.is-text.is-focused,.button__tap.is-text.is-hovered,.button__tap.is-text:focus,.button__tap.is-text:hover {
	background-color: #f5f5f5;
	color: #363636
}

.button__tap.is-text.is-active,.button__tap.is-text:active {
	background-color: #e8e8e8;
	color: #363636
}

.button__tap.is-text[disabled],fieldset[disabled] .button__tap.is-text {
	background-color: transparent;
	border-color: transparent;
	box-shadow: none
}

.button__tap.is-ghost {
	background: 0 0;
	border-color: transparent;
	color: #485fc7;
	text-decoration: none
}

.button__tap.is-ghost.is-hovered,.button__tap.is-ghost:hover {
	color: #485fc7;
	text-decoration: underline
}

.button__tap.is-white {
	background-color: #fff;
	border-color: transparent;
	color: #0a0a0a
}

.button__tap.is-white.is-hovered,.button__tap.is-white:hover {
	background-color: #f9f9f9;
	border-color: transparent;
	color: #0a0a0a
}

.button__tap.is-white.is-focused,.button__tap.is-white:focus {
	border-color: transparent;
	color: #0a0a0a
}

.button__tap.is-white.is-focused:not(:active),.button__tap.is-white:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(255,255,255,.25)
}

.button__tap.is-white.is-active,.button__tap.is-white:active {
	background-color: #f2f2f2;
	border-color: transparent;
	color: #0a0a0a
}

.button__tap.is-white[disabled],fieldset[disabled] .button__tap.is-white {
	background-color: #fff;
	border-color: #fff;
	box-shadow: none
}

.button__tap.is-white.is-inverted {
	background-color: #0a0a0a;
	color: #fff
}

.button__tap.is-white.is-inverted.is-hovered,.button__tap.is-white.is-inverted:hover {
	background-color: #000
}

.button__tap.is-white.is-inverted[disabled],fieldset[disabled] .button__tap.is-white.is-inverted {
	background-color: #0a0a0a;
	border-color: transparent;
	box-shadow: none;
	color: #fff
}

.button__tap.is-white.is-loading::after {
	border-color: transparent transparent #0a0a0a #0a0a0a!important
}

.button__tap.is-white.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.button__tap.is-white.is-outlined.is-focused,.button__tap.is-white.is-outlined.is-hovered,.button__tap.is-white.is-outlined:focus,.button__tap.is-white.is-outlined:hover {
	background-color: #fff;
	border-color: #fff;
	color: #0a0a0a
}

.button__tap.is-white.is-outlined.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-white.is-outlined.is-loading.is-focused::after,.button__tap.is-white.is-outlined.is-loading.is-hovered::after,.button__tap.is-white.is-outlined.is-loading:focus::after,.button__tap.is-white.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #0a0a0a #0a0a0a!important
}

.button__tap.is-white.is-outlined[disabled],fieldset[disabled] .button__tap.is-white.is-outlined {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff
}

.button__tap.is-white.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #0a0a0a;
	color: #0a0a0a
}

.button__tap.is-white.is-inverted.is-outlined.is-focused,.button__tap.is-white.is-inverted.is-outlined.is-hovered,.button__tap.is-white.is-inverted.is-outlined:focus,.button__tap.is-white.is-inverted.is-outlined:hover {
	background-color: #0a0a0a;
	color: #fff
}

.button__tap.is-white.is-inverted.is-outlined.is-loading.is-focused::after,.button__tap.is-white.is-inverted.is-outlined.is-loading.is-hovered::after,.button__tap.is-white.is-inverted.is-outlined.is-loading:focus::after,.button__tap.is-white.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-white.is-inverted.is-outlined[disabled],fieldset[disabled] .button__tap.is-white.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #0a0a0a;
	box-shadow: none;
	color: #0a0a0a
}

.button__tap.is-black {
	background-color: #0a0a0a;
	border-color: transparent;
	color: #fff
}

.button__tap.is-black.is-hovered,.button__tap.is-black:hover {
	background-color: #040404;
	border-color: transparent;
	color: #fff
}

.button__tap.is-black.is-focused,.button__tap.is-black:focus {
	border-color: transparent;
	color: #fff
}

.button__tap.is-black.is-focused:not(:active),.button__tap.is-black:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(10,10,10,.25)
}

.button__tap.is-black.is-active,.button__tap.is-black:active {
	background-color: #000;
	border-color: transparent;
	color: #fff
}

.button__tap.is-black[disabled],fieldset[disabled] .button__tap.is-black {
	background-color: #0a0a0a;
	border-color: #0a0a0a;
	box-shadow: none
}

.button__tap.is-black.is-inverted {
	background-color: #fff;
	color: #0a0a0a
}

.button__tap.is-black.is-inverted.is-hovered,.button__tap.is-black.is-inverted:hover {
	background-color: #f2f2f2
}

.button__tap.is-black.is-inverted[disabled],fieldset[disabled] .button__tap.is-black.is-inverted {
	background-color: #fff;
	border-color: transparent;
	box-shadow: none;
	color: #0a0a0a
}

.button__tap.is-black.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-black.is-outlined {
	background-color: transparent;
	border-color: #0a0a0a;
	color: #0a0a0a
}

.button__tap.is-black.is-outlined.is-focused,.button__tap.is-black.is-outlined.is-hovered,.button__tap.is-black.is-outlined:focus,.button__tap.is-black.is-outlined:hover {
	background-color: #0a0a0a;
	border-color: #0a0a0a;
	color: #fff
}

.button__tap.is-black.is-outlined.is-loading::after {
	border-color: transparent transparent #0a0a0a #0a0a0a!important
}

.button__tap.is-black.is-outlined.is-loading.is-focused::after,.button__tap.is-black.is-outlined.is-loading.is-hovered::after,.button__tap.is-black.is-outlined.is-loading:focus::after,.button__tap.is-black.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-black.is-outlined[disabled],fieldset[disabled] .button__tap.is-black.is-outlined {
	background-color: transparent;
	border-color: #0a0a0a;
	box-shadow: none;
	color: #0a0a0a
}

.button__tap.is-black.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.button__tap.is-black.is-inverted.is-outlined.is-focused,.button__tap.is-black.is-inverted.is-outlined.is-hovered,.button__tap.is-black.is-inverted.is-outlined:focus,.button__tap.is-black.is-inverted.is-outlined:hover {
	background-color: #fff;
	color: #0a0a0a
}

.button__tap.is-black.is-inverted.is-outlined.is-loading.is-focused::after,.button__tap.is-black.is-inverted.is-outlined.is-loading.is-hovered::after,.button__tap.is-black.is-inverted.is-outlined.is-loading:focus::after,.button__tap.is-black.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #0a0a0a #0a0a0a!important
}

.button__tap.is-black.is-inverted.is-outlined[disabled],fieldset[disabled] .button__tap.is-black.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff
}

.button__tap.is-light {
	background-color: #f5f5f5;
	border-color: transparent;
	color: rgba(0,0,0,.7)
}

.button__tap.is-light.is-hovered,.button__tap.is-light:hover {
	background-color: #eee;
	border-color: transparent;
	color: rgba(0,0,0,.7)
}

.button__tap.is-light.is-focused,.button__tap.is-light:focus {
	border-color: transparent;
	color: rgba(0,0,0,.7)
}

.button__tap.is-light.is-focused:not(:active),.button__tap.is-light:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(245,245,245,.25)
}

.button__tap.is-light.is-active,.button__tap.is-light:active {
	background-color: #e8e8e8;
	border-color: transparent;
	color: rgba(0,0,0,.7)
}

.button__tap.is-light[disabled],fieldset[disabled] .button__tap.is-light {
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	box-shadow: none
}

.button__tap.is-light.is-inverted {
	background-color: rgba(0,0,0,.7);
	color: #f5f5f5
}

.button__tap.is-light.is-inverted.is-hovered,.button__tap.is-light.is-inverted:hover {
	background-color: rgba(0,0,0,.7)
}

.button__tap.is-light.is-inverted[disabled],fieldset[disabled] .button__tap.is-light.is-inverted {
	background-color: rgba(0,0,0,.7);
	border-color: transparent;
	box-shadow: none;
	color: #f5f5f5
}

.button__tap.is-light.is-loading::after {
	border-color: transparent transparent rgba(0,0,0,.7) rgba(0,0,0,.7)!important
}

.button__tap.is-light.is-outlined {
	background-color: transparent;
	border-color: #f5f5f5;
	color: #f5f5f5
}

.button__tap.is-light.is-outlined.is-focused,.button__tap.is-light.is-outlined.is-hovered,.button__tap.is-light.is-outlined:focus,.button__tap.is-light.is-outlined:hover {
	background-color: #f5f5f5;
	border-color: #f5f5f5;
	color: rgba(0,0,0,.7)
}

.button__tap.is-light.is-outlined.is-loading::after {
	border-color: transparent transparent #f5f5f5 #f5f5f5!important
}

.button__tap.is-light.is-outlined.is-loading.is-focused::after,.button__tap.is-light.is-outlined.is-loading.is-hovered::after,.button__tap.is-light.is-outlined.is-loading:focus::after,.button__tap.is-light.is-outlined.is-loading:hover::after {
	border-color: transparent transparent rgba(0,0,0,.7) rgba(0,0,0,.7)!important
}

.button__tap.is-light.is-outlined[disabled],fieldset[disabled] .button__tap.is-light.is-outlined {
	background-color: transparent;
	border-color: #f5f5f5;
	box-shadow: none;
	color: #f5f5f5
}

.button__tap.is-light.is-inverted.is-outlined {
	background-color: transparent;
	border-color: rgba(0,0,0,.7);
	color: rgba(0,0,0,.7)
}

.button__tap.is-light.is-inverted.is-outlined.is-focused,.button__tap.is-light.is-inverted.is-outlined.is-hovered,.button__tap.is-light.is-inverted.is-outlined:focus,.button__tap.is-light.is-inverted.is-outlined:hover {
	background-color: rgba(0,0,0,.7);
	color: #f5f5f5
}

.button__tap.is-light.is-inverted.is-outlined.is-loading.is-focused::after,.button__tap.is-light.is-inverted.is-outlined.is-loading.is-hovered::after,.button__tap.is-light.is-inverted.is-outlined.is-loading:focus::after,.button__tap.is-light.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #f5f5f5 #f5f5f5!important
}

.button__tap.is-light.is-inverted.is-outlined[disabled],fieldset[disabled] .button__tap.is-light.is-inverted.is-outlined {
	background-color: transparent;
	border-color: rgba(0,0,0,.7);
	box-shadow: none;
	color: rgba(0,0,0,.7)
}

.button__tap.is-dark {
	background-color: #363636;
	border-color: transparent;
	color: #fff
}

.button__tap.is-dark.is-hovered,.button__tap.is-dark:hover {
	background-color: #2f2f2f;
	border-color: transparent;
	color: #fff
}

.button__tap.is-dark.is-focused,.button__tap.is-dark:focus {
	border-color: transparent;
	color: #fff
}

.button__tap.is-dark.is-focused:not(:active),.button__tap.is-dark:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(54,54,54,.25)
}

.button__tap.is-dark.is-active,.button__tap.is-dark:active {
	background-color: #292929;
	border-color: transparent;
	color: #fff
}

.button__tap.is-dark[disabled],fieldset[disabled] .button__tap.is-dark {
	background-color: #363636;
	border-color: #363636;
	box-shadow: none
}

.button__tap.is-dark.is-inverted {
	background-color: #fff;
	color: #363636
}

.button__tap.is-dark.is-inverted.is-hovered,.button__tap.is-dark.is-inverted:hover {
	background-color: #f2f2f2
}

.button__tap.is-dark.is-inverted[disabled],fieldset[disabled] .button__tap.is-dark.is-inverted {
	background-color: #fff;
	border-color: transparent;
	box-shadow: none;
	color: #363636
}

.button__tap.is-dark.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-dark.is-outlined {
	background-color: transparent;
	border-color: #363636;
	color: #363636
}

.button__tap.is-dark.is-outlined.is-focused,.button__tap.is-dark.is-outlined.is-hovered,.button__tap.is-dark.is-outlined:focus,.button__tap.is-dark.is-outlined:hover {
	background-color: #363636;
	border-color: #363636;
	color: #fff
}

.button__tap.is-dark.is-outlined.is-loading::after {
	border-color: transparent transparent #363636 #363636!important
}

.button__tap.is-dark.is-outlined.is-loading.is-focused::after,.button__tap.is-dark.is-outlined.is-loading.is-hovered::after,.button__tap.is-dark.is-outlined.is-loading:focus::after,.button__tap.is-dark.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-dark.is-outlined[disabled],fieldset[disabled] .button__tap.is-dark.is-outlined {
	background-color: transparent;
	border-color: #363636;
	box-shadow: none;
	color: #363636
}

.button__tap.is-dark.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.button__tap.is-dark.is-inverted.is-outlined.is-focused,.button__tap.is-dark.is-inverted.is-outlined.is-hovered,.button__tap.is-dark.is-inverted.is-outlined:focus,.button__tap.is-dark.is-inverted.is-outlined:hover {
	background-color: #fff;
	color: #363636
}

.button__tap.is-dark.is-inverted.is-outlined.is-loading.is-focused::after,.button__tap.is-dark.is-inverted.is-outlined.is-loading.is-hovered::after,.button__tap.is-dark.is-inverted.is-outlined.is-loading:focus::after,.button__tap.is-dark.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #363636 #363636!important
}

.button__tap.is-dark.is-inverted.is-outlined[disabled],fieldset[disabled] .button__tap.is-dark.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff
}
*/
/*
.style__default[disabled],fieldset[disabled] .style__default {
	background-color: #00d1b2;
	border-color: #00d1b2;
	box-shadow: none
}

.style__default.is-inverted {
	background-color: #fff;
	color: #00d1b2
}

.style__default.is-inverted.is-hovered,.style__default.is-inverted:hover {
	background-color: #f2f2f2
}

.style__default.is-inverted[disabled],fieldset[disabled] .style__default.is-inverted {
	background-color: #fff;
	border-color: transparent;
	box-shadow: none;
	color: #00d1b2
}

.style__default.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.style__default.is-outlined {
	background-color: transparent;
	border-color: #00d1b2;
	color: #00d1b2
}

.style__default.is-outlined.is-focused,.style__default.is-outlined.is-hovered,.style__default.is-outlined:focus,.style__default.is-outlined:hover {
	background-color: #00d1b2;
	border-color: #00d1b2;
	color: #fff
}

.style__default.is-outlined.is-loading::after {
	border-color: transparent transparent #00d1b2 #00d1b2!important
}

.style__default.is-outlined.is-loading.is-focused::after,.style__default.is-outlined.is-loading.is-hovered::after,.style__default.is-outlined.is-loading:focus::after,.style__default.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #fff #fff!important
}

.style__default.is-outlined[disabled],fieldset[disabled] .style__default.is-outlined {
	background-color: transparent;
	border-color: #00d1b2;
	box-shadow: none;
	color: #00d1b2
}

.style__default.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.style__default.is-inverted.is-outlined.is-focused,.style__default.is-inverted.is-outlined.is-hovered,.style__default.is-inverted.is-outlined:focus,.style__default.is-inverted.is-outlined:hover {
	background-color: #fff;
	color: #00d1b2
}

.style__default.is-inverted.is-outlined.is-loading.is-focused::after,.style__default.is-inverted.is-outlined.is-loading.is-hovered::after,.style__default.is-inverted.is-outlined.is-loading:focus::after,.style__default.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #00d1b2 #00d1b2!important
}

.style__default.is-inverted.is-outlined[disabled],fieldset[disabled] .style__default.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff
}

.style__default.is-light {
	background-color: #ebfffc;
	color: #00947e
}

.style__default.is-light.is-hovered,.style__default.is-light:hover {
	background-color: #defffa;
	border-color: transparent;
	color: #00947e
}

.style__default.is-light.is-active,.style__default.is-light:active {
	background-color: #d1fff8;
	border-color: transparent;
	color: #00947e
}

.button__tap.is-link {
	background-color: #485fc7;
	border-color: transparent;
	color: #fff
}

.button__tap.is-link.is-hovered,.button__tap.is-link:hover {
	background-color: #3e56c4;
	border-color: transparent;
	color: #fff
}

.button__tap.is-link.is-focused,.button__tap.is-link:focus {
	border-color: transparent;
	color: #fff
}

.button__tap.is-link.is-focused:not(:active),.button__tap.is-link:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(72,95,199,.25)
}

.button__tap.is-link.is-active,.button__tap.is-link:active {
	background-color: #3a51bb;
	border-color: transparent;
	color: #fff
}

.button__tap.is-link[disabled],fieldset[disabled] .button__tap.is-link {
	background-color: #485fc7;
	border-color: #485fc7;
	box-shadow: none
}

.button__tap.is-link.is-inverted {
	background-color: #fff;
	color: #485fc7
}

.button__tap.is-link.is-inverted.is-hovered,.button__tap.is-link.is-inverted:hover {
	background-color: #f2f2f2
}

.button__tap.is-link.is-inverted[disabled],fieldset[disabled] .button__tap.is-link.is-inverted {
	background-color: #fff;
	border-color: transparent;
	box-shadow: none;
	color: #485fc7
}

.button__tap.is-link.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-link.is-outlined {
	background-color: transparent;
	border-color: #485fc7;
	color: #485fc7
}

.button__tap.is-link.is-outlined.is-focused,.button__tap.is-link.is-outlined.is-hovered,.button__tap.is-link.is-outlined:focus,.button__tap.is-link.is-outlined:hover {
	background-color: #485fc7;
	border-color: #485fc7;
	color: #fff
}

.button__tap.is-link.is-outlined.is-loading::after {
	border-color: transparent transparent #485fc7 #485fc7!important
}

.button__tap.is-link.is-outlined.is-loading.is-focused::after,.button__tap.is-link.is-outlined.is-loading.is-hovered::after,.button__tap.is-link.is-outlined.is-loading:focus::after,.button__tap.is-link.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-link.is-outlined[disabled],fieldset[disabled] .button__tap.is-link.is-outlined {
	background-color: transparent;
	border-color: #485fc7;
	box-shadow: none;
	color: #485fc7
}

.button__tap.is-link.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.button__tap.is-link.is-inverted.is-outlined.is-focused,.button__tap.is-link.is-inverted.is-outlined.is-hovered,.button__tap.is-link.is-inverted.is-outlined:focus,.button__tap.is-link.is-inverted.is-outlined:hover {
	background-color: #fff;
	color: #485fc7
}

.button__tap.is-link.is-inverted.is-outlined.is-loading.is-focused::after,.button__tap.is-link.is-inverted.is-outlined.is-loading.is-hovered::after,.button__tap.is-link.is-inverted.is-outlined.is-loading:focus::after,.button__tap.is-link.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #485fc7 #485fc7!important
}

.button__tap.is-link.is-inverted.is-outlined[disabled],fieldset[disabled] .button__tap.is-link.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff
}

.button__tap.is-link.is-light {
	background-color: #eff1fa;
	color: #3850b7
}

.button__tap.is-link.is-light.is-hovered,.button__tap.is-link.is-light:hover {
	background-color: #e6e9f7;
	border-color: transparent;
	color: #3850b7
}

.button__tap.is-link.is-light.is-active,.button__tap.is-link.is-light:active {
	background-color: #dce0f4;
	border-color: transparent;
	color: #3850b7
}

.button__tap.is-info {
	background-color: #3e8ed0;
	border-color: transparent;
	color: #fff
}

.button__tap.is-info.is-hovered,.button__tap.is-info:hover {
	background-color: #3488ce;
	border-color: transparent;
	color: #fff
}

.button__tap.is-info.is-focused,.button__tap.is-info:focus {
	border-color: transparent;
	color: #fff
}

.button__tap.is-info.is-focused:not(:active),.button__tap.is-info:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(62,142,208,.25)
}

.button__tap.is-info.is-active,.button__tap.is-info:active {
	background-color: #3082c5;
	border-color: transparent;
	color: #fff
}

.button__tap.is-info[disabled],fieldset[disabled] .button__tap.is-info {
	background-color: #3e8ed0;
	border-color: #3e8ed0;
	box-shadow: none
}

.button__tap.is-info.is-inverted {
	background-color: #fff;
	color: #3e8ed0
}

.button__tap.is-info.is-inverted.is-hovered,.button__tap.is-info.is-inverted:hover {
	background-color: #f2f2f2
}

.button__tap.is-info.is-inverted[disabled],fieldset[disabled] .button__tap.is-info.is-inverted {
	background-color: #fff;
	border-color: transparent;
	box-shadow: none;
	color: #3e8ed0
}

.button__tap.is-info.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-info.is-outlined {
	background-color: transparent;
	border-color: #3e8ed0;
	color: #3e8ed0
}

.button__tap.is-info.is-outlined.is-focused,.button__tap.is-info.is-outlined.is-hovered,.button__tap.is-info.is-outlined:focus,.button__tap.is-info.is-outlined:hover {
	background-color: #3e8ed0;
	border-color: #3e8ed0;
	color: #fff
}

.button__tap.is-info.is-outlined.is-loading::after {
	border-color: transparent transparent #3e8ed0 #3e8ed0!important
}

.button__tap.is-info.is-outlined.is-loading.is-focused::after,.button__tap.is-info.is-outlined.is-loading.is-hovered::after,.button__tap.is-info.is-outlined.is-loading:focus::after,.button__tap.is-info.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-info.is-outlined[disabled],fieldset[disabled] .button__tap.is-info.is-outlined {
	background-color: transparent;
	border-color: #3e8ed0;
	box-shadow: none;
	color: #3e8ed0
}

.button__tap.is-info.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.button__tap.is-info.is-inverted.is-outlined.is-focused,.button__tap.is-info.is-inverted.is-outlined.is-hovered,.button__tap.is-info.is-inverted.is-outlined:focus,.button__tap.is-info.is-inverted.is-outlined:hover {
	background-color: #fff;
	color: #3e8ed0
}

.button__tap.is-info.is-inverted.is-outlined.is-loading.is-focused::after,.button__tap.is-info.is-inverted.is-outlined.is-loading.is-hovered::after,.button__tap.is-info.is-inverted.is-outlined.is-loading:focus::after,.button__tap.is-info.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #3e8ed0 #3e8ed0!important
}

.button__tap.is-info.is-inverted.is-outlined[disabled],fieldset[disabled] .button__tap.is-info.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff
}

.button__tap.is-info.is-light {
	background-color: #eff5fb;
	color: #296fa8
}

.button__tap.is-info.is-light.is-hovered,.button__tap.is-info.is-light:hover {
	background-color: #e4eff9;
	border-color: transparent;
	color: #296fa8
}

.button__tap.is-info.is-light.is-active,.button__tap.is-info.is-light:active {
	background-color: #dae9f6;
	border-color: transparent;
	color: #296fa8
}

.button__tap.is-success {
	background-color: #48c78e;
	border-color: transparent;
	color: #fff
}

.button__tap.is-success.is-hovered,.button__tap.is-success:hover {
	background-color: #3ec487;
	border-color: transparent;
	color: #fff
}

.button__tap.is-success.is-focused,.button__tap.is-success:focus {
	border-color: transparent;
	color: #fff
}

.button__tap.is-success.is-focused:not(:active),.button__tap.is-success:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(72,199,142,.25)
}

.button__tap.is-success.is-active,.button__tap.is-success:active {
	background-color: #3abb81;
	border-color: transparent;
	color: #fff
}

.button__tap.is-success[disabled],fieldset[disabled] .button__tap.is-success {
	background-color: #48c78e;
	border-color: #48c78e;
	box-shadow: none
}

.button__tap.is-success.is-inverted {
	background-color: #fff;
	color: #48c78e
}

.button__tap.is-success.is-inverted.is-hovered,.button__tap.is-success.is-inverted:hover {
	background-color: #f2f2f2
}

.button__tap.is-success.is-inverted[disabled],fieldset[disabled] .button__tap.is-success.is-inverted {
	background-color: #fff;
	border-color: transparent;
	box-shadow: none;
	color: #48c78e
}

.button__tap.is-success.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-success.is-outlined {
	background-color: transparent;
	border-color: #48c78e;
	color: #48c78e
}

.button__tap.is-success.is-outlined.is-focused,.button__tap.is-success.is-outlined.is-hovered,.button__tap.is-success.is-outlined:focus,.button__tap.is-success.is-outlined:hover {
	background-color: #48c78e;
	border-color: #48c78e;
	color: #fff
}

.button__tap.is-success.is-outlined.is-loading::after {
	border-color: transparent transparent #48c78e #48c78e!important
}

.button__tap.is-success.is-outlined.is-loading.is-focused::after,.button__tap.is-success.is-outlined.is-loading.is-hovered::after,.button__tap.is-success.is-outlined.is-loading:focus::after,.button__tap.is-success.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-success.is-outlined[disabled],fieldset[disabled] .button__tap.is-success.is-outlined {
	background-color: transparent;
	border-color: #48c78e;
	box-shadow: none;
	color: #48c78e
}

.button__tap.is-success.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.button__tap.is-success.is-inverted.is-outlined.is-focused,.button__tap.is-success.is-inverted.is-outlined.is-hovered,.button__tap.is-success.is-inverted.is-outlined:focus,.button__tap.is-success.is-inverted.is-outlined:hover {
	background-color: #fff;
	color: #48c78e
}

.button__tap.is-success.is-inverted.is-outlined.is-loading.is-focused::after,.button__tap.is-success.is-inverted.is-outlined.is-loading.is-hovered::after,.button__tap.is-success.is-inverted.is-outlined.is-loading:focus::after,.button__tap.is-success.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #48c78e #48c78e!important
}

.button__tap.is-success.is-inverted.is-outlined[disabled],fieldset[disabled] .button__tap.is-success.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff
}

.button__tap.is-success.is-light {
	background-color: #effaf5;
	color: #257953
}

.button__tap.is-success.is-light.is-hovered,.button__tap.is-success.is-light:hover {
	background-color: #e6f7ef;
	border-color: transparent;
	color: #257953
}

.button__tap.is-success.is-light.is-active,.button__tap.is-success.is-light:active {
	background-color: #dcf4e9;
	border-color: transparent;
	color: #257953
}

.button__tap.is-warning {
	background-color: #ffe08a;
	border-color: transparent;
	color: rgba(0,0,0,.7)
}

.button__tap.is-warning.is-hovered,.button__tap.is-warning:hover {
	background-color: #ffdc7d;
	border-color: transparent;
	color: rgba(0,0,0,.7)
}

.button__tap.is-warning.is-focused,.button__tap.is-warning:focus {
	border-color: transparent;
	color: rgba(0,0,0,.7)
}

.button__tap.is-warning.is-focused:not(:active),.button__tap.is-warning:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(255,224,138,.25)
}

.button__tap.is-warning.is-active,.button__tap.is-warning:active {
	background-color: #ffd970;
	border-color: transparent;
	color: rgba(0,0,0,.7)
}

.button__tap.is-warning[disabled],fieldset[disabled] .button__tap.is-warning {
	background-color: #ffe08a;
	border-color: #ffe08a;
	box-shadow: none
}

.button__tap.is-warning.is-inverted {
	background-color: rgba(0,0,0,.7);
	color: #ffe08a
}

.button__tap.is-warning.is-inverted.is-hovered,.button__tap.is-warning.is-inverted:hover {
	background-color: rgba(0,0,0,.7)
}

.button__tap.is-warning.is-inverted[disabled],fieldset[disabled] .button__tap.is-warning.is-inverted {
	background-color: rgba(0,0,0,.7);
	border-color: transparent;
	box-shadow: none;
	color: #ffe08a
}

.button__tap.is-warning.is-loading::after {
	border-color: transparent transparent rgba(0,0,0,.7) rgba(0,0,0,.7)!important
}

.button__tap.is-warning.is-outlined {
	background-color: transparent;
	border-color: #ffe08a;
	color: #ffe08a
}

.button__tap.is-warning.is-outlined.is-focused,.button__tap.is-warning.is-outlined.is-hovered,.button__tap.is-warning.is-outlined:focus,.button__tap.is-warning.is-outlined:hover {
	background-color: #ffe08a;
	border-color: #ffe08a;
	color: rgba(0,0,0,.7)
}

.button__tap.is-warning.is-outlined.is-loading::after {
	border-color: transparent transparent #ffe08a #ffe08a!important
}

.button__tap.is-warning.is-outlined.is-loading.is-focused::after,.button__tap.is-warning.is-outlined.is-loading.is-hovered::after,.button__tap.is-warning.is-outlined.is-loading:focus::after,.button__tap.is-warning.is-outlined.is-loading:hover::after {
	border-color: transparent transparent rgba(0,0,0,.7) rgba(0,0,0,.7)!important
}

.button__tap.is-warning.is-outlined[disabled],fieldset[disabled] .button__tap.is-warning.is-outlined {
	background-color: transparent;
	border-color: #ffe08a;
	box-shadow: none;
	color: #ffe08a
}

.button__tap.is-warning.is-inverted.is-outlined {
	background-color: transparent;
	border-color: rgba(0,0,0,.7);
	color: rgba(0,0,0,.7)
}

.button__tap.is-warning.is-inverted.is-outlined.is-focused,.button__tap.is-warning.is-inverted.is-outlined.is-hovered,.button__tap.is-warning.is-inverted.is-outlined:focus,.button__tap.is-warning.is-inverted.is-outlined:hover {
	background-color: rgba(0,0,0,.7);
	color: #ffe08a
}

.button__tap.is-warning.is-inverted.is-outlined.is-loading.is-focused::after,.button__tap.is-warning.is-inverted.is-outlined.is-loading.is-hovered::after,.button__tap.is-warning.is-inverted.is-outlined.is-loading:focus::after,.button__tap.is-warning.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #ffe08a #ffe08a!important
}

.button__tap.is-warning.is-inverted.is-outlined[disabled],fieldset[disabled] .button__tap.is-warning.is-inverted.is-outlined {
	background-color: transparent;
	border-color: rgba(0,0,0,.7);
	box-shadow: none;
	color: rgba(0,0,0,.7)
}

.button__tap.is-warning.is-light {
	background-color: #fffaeb;
	color: #946c00
}

.button__tap.is-warning.is-light.is-hovered,.button__tap.is-warning.is-light:hover {
	background-color: #fff6de;
	border-color: transparent;
	color: #946c00
}

.button__tap.is-warning.is-light.is-active,.button__tap.is-warning.is-light:active {
	background-color: #fff3d1;
	border-color: transparent;
	color: #946c00
}

.button__tap.is-danger {
	background-color: #f14668;
	border-color: transparent;
	color: #fff
}

.button__tap.is-danger.is-hovered,.button__tap.is-danger:hover {
	background-color: #f03a5f;
	border-color: transparent;
	color: #fff
}

.button__tap.is-danger.is-focused,.button__tap.is-danger:focus {
	border-color: transparent;
	color: #fff
}

.button__tap.is-danger.is-focused:not(:active),.button__tap.is-danger:focus:not(:active) {
	box-shadow: 0 0 0 .125em rgba(241,70,104,.25)
}

.button__tap.is-danger.is-active,.button__tap.is-danger:active {
	background-color: #ef2e55;
	border-color: transparent;
	color: #fff
}

.button__tap.is-danger[disabled],fieldset[disabled] .button__tap.is-danger {
	background-color: #f14668;
	border-color: #f14668;
	box-shadow: none
}

.button__tap.is-danger.is-inverted {
	background-color: #fff;
	color: #f14668
}

.button__tap.is-danger.is-inverted.is-hovered,.button__tap.is-danger.is-inverted:hover {
	background-color: #f2f2f2
}

.button__tap.is-danger.is-inverted[disabled],fieldset[disabled] .button__tap.is-danger.is-inverted {
	background-color: #fff;
	border-color: transparent;
	box-shadow: none;
	color: #f14668
}

.button__tap.is-danger.is-loading::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-danger.is-outlined {
	background-color: transparent;
	border-color: #f14668;
	color: #f14668
}

.button__tap.is-danger.is-outlined.is-focused,.button__tap.is-danger.is-outlined.is-hovered,.button__tap.is-danger.is-outlined:focus,.button__tap.is-danger.is-outlined:hover {
	background-color: #f14668;
	border-color: #f14668;
	color: #fff
}

.button__tap.is-danger.is-outlined.is-loading::after {
	border-color: transparent transparent #f14668 #f14668!important
}

.button__tap.is-danger.is-outlined.is-loading.is-focused::after,.button__tap.is-danger.is-outlined.is-loading.is-hovered::after,.button__tap.is-danger.is-outlined.is-loading:focus::after,.button__tap.is-danger.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #fff #fff!important
}

.button__tap.is-danger.is-outlined[disabled],fieldset[disabled] .button__tap.is-danger.is-outlined {
	background-color: transparent;
	border-color: #f14668;
	box-shadow: none;
	color: #f14668
}

.button__tap.is-danger.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	color: #fff
}

.button__tap.is-danger.is-inverted.is-outlined.is-focused,.button__tap.is-danger.is-inverted.is-outlined.is-hovered,.button__tap.is-danger.is-inverted.is-outlined:focus,.button__tap.is-danger.is-inverted.is-outlined:hover {
	background-color: #fff;
	color: #f14668
}

.button__tap.is-danger.is-inverted.is-outlined.is-loading.is-focused::after,.button__tap.is-danger.is-inverted.is-outlined.is-loading.is-hovered::after,.button__tap.is-danger.is-inverted.is-outlined.is-loading:focus::after,.button__tap.is-danger.is-inverted.is-outlined.is-loading:hover::after {
	border-color: transparent transparent #f14668 #f14668!important
}

.button__tap.is-danger.is-inverted.is-outlined[disabled],fieldset[disabled] .button__tap.is-danger.is-inverted.is-outlined {
	background-color: transparent;
	border-color: #fff;
	box-shadow: none;
	color: #fff
}

.button__tap.is-danger.is-light {
	background-color: #feecf0;
	color: #cc0f35
}

.button__tap.is-danger.is-light.is-hovered,.button__tap.is-danger.is-light:hover {
	background-color: #fde0e6;
	border-color: transparent;
	color: #cc0f35
}

.button__tap.is-danger.is-light.is-active,.button__tap.is-danger.is-light:active {
	background-color: #fcd4dc;
	border-color: transparent;
	color: #cc0f35
}
*/