/* CONTAINERS */

.flex__container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	position: relative;
	max-width: 100%;
	width: 100%;
	padding: 0 !important;
}
.flex__row,
.flex__col.bp__none {
	flex-direction: column;
}
.flex__row.flex__reverse,
.flex__col.flex__reverse.bp__none {
	flex-direction: column-reverse;
}
.flex__col,
.flex__row.bp__none {
	flex-direction: row;
}
.flex__col.flex__reverse,
.flex__row.flex__reverse.bp__none {
	flex-direction: row-reverse;
}

.flex__wrap {
	flex-wrap: wrap;
	align-content: flex-start;
}
.flex__wrap-reverse {
	flex-wrap: wrap-reverse;
	align-content: flex-start;
}

.flex__align-end {
	align-content: flex-end;
}
.flex__align-center {
	align-content: center;
}
.flex__align-stretch {
	align-content: stretch;
}
.flex__align-space-between {
	align-content: space-between;
}
.flex__align-space-around {
	align-content: space-around;
}

.flex__justify-end {
	justify-content: flex-end;
}
.flex__justify-center {
	justify-content: center;
}
.flex__justify-space-between {
	justify-content: space-between;
}
.flex__justify-space-around {
	justify-content: space-around;
}
.flex__justify-space-evenly {
	justify-content: space-evenly;
}

.flex__container.flex__item-end {
	align-items: flex-end;
}
.flex__container.flex__item-center {
	align-items: center;
}
.flex__container.flex__item-stretch {
	align-items: stretch;
}
.flex__container.flex__item-baseline {
	align-items: baseline;
}

/* ITEMS */

.flex__item {
	padding: 0 !important;
}
.flex__item.flex__full {
	width: 100%;
}

.flex__item-grow-1 {
	flex-grow: 1;
}
.flex__item-grow-2 {
	flex-grow: 2;
}
.flex__item-grow-3 {
	flex-grow: 3;
}
.flex__item-grow-4 {
	flex-grow: 4;
}
.flex__item-grow-5 {
	flex-grow: 5;
}
.flex__item-grow-6 {
	flex-grow: 6;
}
.flex__item-grow-7 {
	flex-grow: 7;
}
.flex__item-grow-8 {
	flex-grow: 8;
}
.flex__item-grow-9 {
	flex-grow: 9;
}

.flex__item-shrink-1 {
	flex-shrink: 1;
}
.flex__item-shrink-2 {
	flex-shrink: 2;
}
.flex__item-shrink-3 {
	flex-shrink: 3;
}
.flex__item-shrink-4 {
	flex-shrink: 4;
}
.flex__item-shrink-5 {
	flex-shrink: 5;
}
.flex__item-shrink-6 {
	flex-shrink: 6;
}
.flex__item-shrink-7 {
	flex-shrink: 7;
}
.flex__item-shrink-8 {
	flex-shrink: 8;
}
.flex__item-shrink-9 {
	flex-shrink: 9;
}

.flex__item-width-10 {
	flex: 0 0 10%;
	max-width: 10%;
}
.flex__item-width-20 {
	flex: 0 0 20%;
	max-width: 20%;
}
.flex__item-width-25 {
	flex: 0 0 25%;
	max-width: 25%;
}
.flex__item-width-33 {
	flex: 0 0 33.3333%;
	max-width: 33.3333%;
}
.flex__item-width-40 {
	flex: 0 0 40%;
	max-width: 40%;
}
.flex__item-width-50 {
	flex: 0 0 60%;
	max-width: 50%;
}
.flex__item-width-60 {
	flex: 0 0 60%;
	max-width: 60%;
}
.flex__item-width-66 {
	flex: 0 0 66.6666%;
	max-width: 66.6666%;
}
.flex__item-width-75 {
	flex: 0 0 75%;
	max-width: 75%;
}
.flex__item-width-80 {
	flex: 0 0 80%;
	max-width: 80%;
}
.flex__item-width-90 {
	flex: 0 0 90%;
	max-width: 90%;
}
.flex__item-fullwidth {
	flex: 0 0 100%;
	max-width: 100%;
}

.flex__item-offset-10 {
	margin-left: 10%;
}
.flex__item-offset-20 {
	margin-left: 20%;
}
.flex__item-offset-25 {
	margin-left: 25%;
}
.flex__item-offset-33 {
	margin-left: 33.3333%;
}
.flex__item-offset-40 {
	margin-left: 40%;
}
.flex__item-offset-50 {
	margin-left: 50%;
}
.flex__item-offset-60 {
	margin-left: 60%;
}
.flex__item-offset-66 {
	margin-left: 66.6666%;
}
.flex__item-offset-75 {
	margin-left: 75%;
}
.flex__item-offset-80 {
	margin-left: 80%;
}
.flex__item-offset-90 {
	margin-left: 90%;
}

.flex__item.flex__item-start {
	align-self: flex-start;
}
.flex__item.flex__item-end {
	align-self: flex-end;
}
.flex__item.flex__item-center {
	align-self: center;
}
.flex__item.flex__item-stretch {
	align-self: stretch;
}
.flex__item.flex__item-baseline {
	align-self: baseline;
}

/* BREAKPOINTS */

/* SM - Applies <= 568px */
@media screen and (max-width: 35.5rem) {
	.flex__row.bp__sm {
		flex-direction: row;
	}
	.flex__row.flex__reverse.bp__sm {
		flex-direction: row-reverse;
	}
	.flex__col.bp__sm {
		flex-direction: column;
	}
	.flex__col.flex__reverse.bp__sm {
		flex-direction: column-reverse;
	}
	.flex__col.bp__sm .flex__item {
		flex: 1 1 auto;
		max-width: 100%;
		margin-left: 0;
	}
}
/* MD - Applies <= 768px */
@media screen and (max-width: 48rem) {
	.flex__row.bp__md {
		flex-direction: row;
	}
	.flex__row.flex__reverse.bp__md {
		flex-direction: row-reverse;
	}
	.flex__col.bp__md {
		flex-direction: column;
	}
	.flex__col.flex__reverse.bp__md {
		flex-direction: column-reverse;
	}
	.flex__col.bp__md .flex__item {
		flex: 1 1 auto;
		max-width: 100%;
		margin-left: 0;
	}
}
/* LG - Applies <= 992px */
@media screen and (max-width: 62rem) {
	.flex__row.bp__lg {
		flex-direction: row;
	}
	.flex__row.flex__reverse.bp__lg {
		flex-direction: row-reverse;
	}
	.flex__col.bp__lg {
		flex-direction: column;
	}
	.flex__col.flex__reverse.bp__lg {
		flex-direction: column-reverse;
	}
	.flex__col.bp__lg .flex__item {
		flex: 1 1 auto;
		max-width: 100%;
		margin-left: 0;
	}
}
/* XL - Applies <= 1280px */
@media screen and (max-width: 80rem) {
	.flex__row.bp__xl {
		flex-direction: row;
	}
	.flex__row.flex__reverse.bp__xl {
		flex-direction: row-reverse;
	}
	.flex__col.bp__xl {
		flex-direction: column;
	}
	.flex__col.flex__reverse.bp__xl {
		flex-direction: column-reverse;
	}
	.flex__col.bp__xl .flex__item {
		flex: 1 1 auto;
		max-width: 100%;
		margin-left: 0;
	}
}
/* X2L - Applies <= 1440px */
@media screen and (max-width: 90rem) {
	.flex__row.bp__x2l {
		flex-direction: row;
	}
	.flex__row.flex__reverse.bp__x2l {
		flex-direction: row-reverse;
	}
	.flex__col.bp__x2l {
		flex-direction: column;
	}
	.flex__col.flex__reverse.bp__x2l {
		flex-direction: column-reverse;
	}
	.flex__col.bp__x2l .flex__item {
		flex: 1 1 auto;
		max-width: 100%;
		margin-left: 0;
	}
}
/* X3L - Applies <= 1920px */
@media screen and (max-width: 120rem) {
	.flex__row.bp__x3l {
		flex-direction: row;
	}
	.flex__row.flex__reverse.bp__x3l {
		flex-direction: row-reverse;
	}
	.flex__col.bp__x3l {
		flex-direction: column;
	}
	.flex__col.flex__reverse.bp__x3l {
		flex-direction: column-reverse;
	}
	.flex__col.bp__x3l .flex__item {
		flex: 1 1 auto;
		max-width: 100%;
		margin-left: 0;
	}
}
/* X2K - Applies <= 2560px */
@media screen and (max-width: 120rem) {
	.flex__row.bp__x2k {
		flex-direction: row;
	}
	.flex__row.flex__reverse.bp__x2k {
		flex-direction: row-reverse;
	}
	.flex__col.bp__x2k {
		flex-direction: column;
	}
	.flex__col.flex__reverse.bp__x2k {
		flex-direction: column-reverse;
	}
	.flex__col.bp__x2k .flex__item {
		flex: 1 1 auto;
		max-width: 100%;
		margin-left: 0;
	}
}
