/* SKIP TO MAIN CONTENT */

.skip__to_content {
	display: flex;
	justify-content: center;
}
.skip__to_content a {
	display: block;
	padding: var(--val-gap-0-5) var(--val-gap-1-5);
	color: var(--val-color--white);
    background-color: var(--val-color--gray-5);
    text-decoration: none;
    outline: 0;
	position: absolute;
	transform: translateY(-100%);
	transition: all 0.3s ease-in-out;
	z-index: 9999;
}
.skip__to_content a:after {
    content: "\0020 ➔";
}
.skip__to_content a:focus {
	transform: translateY(0%);
}

/* TYPOGRAPHY */

.fs__x3l {
	font-size: var(--val-fs--x3l) !important;
}
.fs__x2l {
	font-size: var(--val-fs--x2l) !important;
}
.fs__xl {
	font-size: var(--val-fs--xl) !important;
}
.fs__l {
	font-size: var(--val-fs--l) !important;
}
.fs__m {
	font-size: var(--val-fs--m) !important;
}
.fs__s {
	font-size: var(--val-fs--s) !important;
}
.fs__xs {
	font-size: var(--val-fs--xs) !important;
}
.fs__x2s {
	font-size: var(--val-fs--x2s) !important;
}
.fs__x3s {
	font-size: var(--val-fs--x3s) !important;
}
/* LG - Applies <= 992px */
@media screen and (max-width: 62rem) {
	.fs__x3l {
		font-size: calc(var(--val-fs--l) + 1.25vw) !important;
	}
	.fs__x2l {
		font-size: calc(var(--val-fs--l) + 0.6vw) !important;
	}
	.fs__xl {
		font-size: calc(var(--val-fs--m) + 0.6vw) !important;
	}
	.fs__l {
		font-size: calc(var(--val-fs--m) + 0.3vw) !important;
	}
}

/* COMPONENT STYLES */

/* Heading component */

.heading__title-x3l,
.heading__title-x2l,
.heading__title-xl,
.heading__title-l,
.heading__title-m,
.heading__subtitle {
	font-weight: var(--val-fw--light);
}
.heading__title-x3l {
	font-size: calc(var(--val-fs--x3l) * 2);
}
.heading__title-x2l {
	font-size: calc(var(--val-fs--x3l) * 1.8);
}
.heading__title-xl {
	font-size: calc(var(--val-fs--x3l) * 1.6);
}
.heading__title-l {
	font-size: calc(var(--val-fs--x3l) * 1.4);
}
.heading__title-m {
	font-size: calc(var(--val-fs--x3l) * 1.2);
}
.heading__subtitle {
	margin-top: calc(-1 * var(--val-gap-0-5));
}
/* LG - Applies <= 992px */
@media screen and (max-width: 62rem) {
	.heading__title-x3l {
		font-size: calc((var(--val-fs--x3l) / 1.5) + 4.5vw);
	}
	.heading__title-x2l {
		font-size: calc((var(--val-fs--x3l) / 1.6) + 3.9vw);
	}
	.heading__title-xl {
		font-size: calc((var(--val-fs--x3l) / 1.6) + 3.3vw);
	}
	.heading__title-l {
		font-size: calc((var(--val-fs--x3l) / 1.7) + 2.7vw);
	}
	.heading__title-m {
		font-size: calc((var(--val-fs--x3l) / 1.7) + 2.1vw);
	}
}

/* Image component */

.img__fluid {
	max-width: 100%;
	height: auto;
}

/* Branding component */

.branding__inner {
	display: flex;
	align-items: flex-end;
	column-gap: var(--val-gap-0-75);
}
.branding__name {
	letter-spacing: 0.02em;
    font-size: var(--val-fs--l);
}
.branding__slogan {
    font-size: var(--val-fs--m);
}

/* SM - Applies <= 568px */
@media (max-width: 35.5rem) {
	.branding__logo {
		display: none;
	}
}
/* LG - Applies <= 992px */
@media (max-width: 62rem) {
	.branding__slogan {
		font-size: var(--val-fs--base);
	}
}

/* PoweredBy component */

.poweredby__container {
	text-align: center;
}
.poweredby__logo img,
.poweredby__logo svg {
	margin-left: .275em;
	height: 1.275em;
	vertical-align: middle;
}
